#tabContent2,
#tabContent3 {
  display: none;
  margin: auto;
}

#mainContent {
  margin: auto;
  // padding-top: 100px;
}

.tab li {
  text-align: center;
  padding: 1rem 2rem;
  background-color: inherit;
  list-style-type: none;
  display: inline;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  // width: 33.33%;
  transition: 0.3s;
}

.tab li:hover {
  background-color: #ddd;
}

.tab li.active {
  background-color: #ddd;
}
