<div *ngIf="jobDetail != undefined">
  <div class="m-5 p-4 m-5 bg-light border">
    <h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
      </svg>
      <strong>  {{ jobDetail.jobTitle }}</strong>
    </h2>
    <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
    </svg> {{ jobDetail.postDate }}</h5>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      {{ jobDetail.exp }}yrs
    </span>
    <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
    </svg> {{ jobDetail.location }}</span>
    <span class="ml-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
      <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
      <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
    </svg> Rs. {{ jobDetail.salaryR }}</span>
    <span class="ml-3">Opening(s): {{ jobDetail.noPos }}</span>
    <input type="button" *ngIf="!userService.loggedIn() && !jobPostService.loggedIn()" [routerLink]="['/dashboard/login']" class="btn btn-info ml-4 floagt-right" id="login" value="Login/Register">
    <span *ngIf="userService.loggedIn() && !jobPostService.loggedIn()" class="float-right">
    <input type="button" *ngIf="!saved" (click)="saveJob()" class= "btn btn-info ml-4" id="save" value="Save" />
    <input type="button" *ngIf="saved" (click)="saveJob()" class= "btn btn-danger ml-4" id="saved" value="Unsave" />
    <input type="button" *ngIf="!applied" (click)="applyJob()" class= "btn btn-info ml-4" id="apply" value="Apply" />
    <input type="button" *ngIf="applied" (click)="applyJob()" class= "btn btn-danger ml-4" id="apply" value="Applied" />
  </span>
  </div>
  <div class="card-body bg-light border m-5 mt-0 p-4">
    <h4 class="mb-0"><strong>Job Description: </strong></h4>
    <p>{{ jobDetail.jobDesc }}</p>

    <h4 class="mt-3 mb-0"><strong>Role: </strong>
    <span>{{ jobDetail.role }}</span></h4>

    <h4 class="mt-3 mb-0"><strong>Responsibility: </strong></h4>
    <span>{{ jobDetail.responsibility }}</span>

    <h4 class="mt-3 mb-0"><strong>Requirement: </strong></h4>
    <span>Skills: {{ jobDetail.skills }}</span>
    <br>
    <span>Degree: {{ jobDetail.degree }}</span>
  </div>
  <div class="card-body bg-light border m-5 mt-0 p-4">
    <h3><strong>About Company:</strong></h3>
    <p>{{ jobDetail.compName }}</p>
    <p>{{ jobDetail.compInfo }}</p>
  </div>

  <input type="button" routerLink=".." value="Back" class="btn btn-danger">
</div>
